
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Prevents body from scrolling */
  
}

header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  height: 60px; /* Adjust as needed */
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden; /* Ensures that the content area does not scroll */
  overflow-y: auto;
}



.content {
  flex: 1;
  padding: 25px;
  padding-left: 60px;
  background-color: #f8f9fa;
  margin-left: 240px; /* Offset for the sidebar */
}
