.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 30px;
  margin-right: 10px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: #ff6b35;
}

.header-right {
  display: flex;
  align-items: center;
}

.language-select {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.language-select span {
  margin-right: 5px;
  font-size: 16px;
}

.language-icon {
  width: 16px;
  height: 16px;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 3px;
}

.user-name {
  font-size: 15px;
  font-weight: bold;
}


.language-select {
  position: relative;
  cursor: pointer;
}

.language-dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 200%;
}

.language-icon {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 3px;
}

.language-select:hover .language-dropdown {
  display: block;
}

.language-dropdown div {
  padding: 10px;
}

.language-dropdown div:hover {
  background-color: #f1f1f1;
}
