
.settings-page {
  display: flex;
  height: 100%;
  min-height: 100%;
}

.settings-page h1 {
  margin-bottom: 2em;
}

.settings-content {
  padding: 0px;
  width: 100%;
}

.settings-tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.settings-tabs button {
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 15px;
}

.settings-tabs button.inactive {
  color: gray;
  font-weight: 600;
}

.settings-tabs button.active {
  color: black;
  font-weight: 800;
  border-bottom: 2px solid #F14119;
}

.tab-content {
  margin-top: 20px;
  margin-left: unset;
  padding-left: unset;
}

.profile-tab, .password-tab, .subscriptions-tab, .publisher-earnings-tab {
  max-width: 600px;
  margin: 0 auto;
}
.profile-picture-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.profile-picture-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-picture-div {
  width: 204px;
  height: 204px;
  border-radius: 50%;
  background-color: #F14119;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures the image fits within the div and is not larger */
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Makes sure the image covers the div without distorting */

}


.upload-button, .remove-button, .update-button {
  background-color: #F14119;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}


.update-button:hover {
  background-color: transparent;
  border: 1px solid #F14119;
  color: #F14119;
}

.upload-button:hover {
  background-color: transparent;
  border: 1px solid #F14119;
  color: #F14119;
}

.remove-button {
  background-color: transparent;
  border: 1px solid #F14119;
  color: #F14119;
}

.remove-button:hover {
  color: #ffffff; /* Orange text color */
  background-color: #F14119; /* Orange text color */
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

/*
.form-group {
  margin-bottom: 16px;
}*/

.password-input-wrapper {
  position: relative;
}

.eyeicon {
  color: #F14119;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.toggle-password .MuiSvgIcon-root {
  color: #F14119;
}

.error-message {
  color: red;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.correct {
  color: green;
}


.success-message {
  color: green;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.success-message .material-icons-outlined {
  font-size: 12px;
  margin-right: 4px;
  color: green;
}

.error-message .material-icons-outlined {
  font-size: 12px;
  margin-right: 4px;
  color: red;
}
