.sidebar {
  height: 100vh; /* Full viewport height */
  background-color: white; /* Lighter color */
  overflow-y: auto; /* Allows vertical scrolling */
  position: fixed; /* Keeps the sidebar fixed */
  width: 250px; /* Set a fixed width for the sidebar */
  padding-left: 0px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: calc(100vh - 100px); /* Full viewport height minus header height */
  margin-bottom: unset;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Remove default margin */
}

nav ul li {
  margin: 15px 0;
}

nav ul li a {
  width: 100%;
  text-decoration: none;
  color: #333;
  display: flex; /* Make the link a block element to fill its parent */
 gap: 10px;
  padding: 10px; /* Add padding for better spacing */
  font-weight: 550;
  font-size: 15px;
  border-radius: 4px; /* Add border radius for better aesthetics */
}


nav ul li a:hover {
  color: #F14119;
  background-color: #ffcc99; /* Lighter orange background */
  border-radius: 4px; /* Add border radius for better aesthetics */
  width: 100%; /* Full width of the parent */
  padding: 10px; /* Add padding for better spacing */
}


.active-link {
  color: #F14119;
  background-color: #ffcc99; /* Lighter orange background */
  border-radius: 4px; /* Add border radius for better aesthetics */
  width: 100%; /* Full width of the parent */
  padding: 10px; /* Add padding for better spacing */
  border-left: 5px solid #F14119;
}

.logout {
  margin-bottom: 20px;
  text-align: center; /* Centers the logout link */
  margin-left: 1em;
}

.logout a {
  text-decoration: none;
  color: #F14119; /* Orange text color */
  display: flex;
  align-items: center;
  width: 150px;
  gap: 10px;
  border: 1px solid #F14119; /* Orange border */
  padding: 10px; /* Adds padding around the link */
  border-radius: 30px; /* Rounds the corners of the border */
  justify-content: center; /* Centers the content horizontally */
  margin-top: 80px;
}

.logout a:hover {
  color: #ffffff; /* Orange text color */
  background-color: #F14119; /* Orange text color */
  display: flex;
  align-items: center;
  width: 150px;
  gap: 10px;
  border: 1px solid #F14119; /* Orange border */
}